<p>Lez make some coffee!</p>
<p>Please enter your starting recipe below and we'll work on your next one from there.</p>
<form action="Home/SetRecipe">
    <p>Dose: </p>
    <input type="number" name="Dose" />
    <br />
    <p>Grind: </p>
    <input type="number" name="Grind"/>
    <br />
    <p>Body: </p>
    <input type="text" name="Body"/>
    <br />
    <p>Taste: </p>
    <input type="text" name="Extraction" />
    <br />
    <input type="submit" />
</form>