<p>Lez make some coffee!</p>
<form action="Home/SetRecipe">
    <input type="number" name="Dose" />
    <input type="number" name="Grind"/>
    <input type="text" name="Body"/>
    <input type="text" name="Extraction" />
    <input type="submit" />
</form>