
<h1>NewCoffee</h1>

<form>
    <input type="text" name="origin" placeholder="Origin"/>
    <input type="text" name="roaster" placeholder="Roaster"/>
    <input type="number" name="dose" placeholder="Dose "/>
    <input type="number" name="grind" placeholder="Grind" />
    <input type="submit" />
</form>


