
<h1>NewCoffee</h1>

<form>
    <input type="text" name="origin" placeholder="Origin"/>
    <input type="text" name="roaster" placeholder="Roaster"/>
    <input type="number" name="dose" />
    <input type="number" name="grind" />
    <input type="submit" placeholder="thi"/>
</form>


