
<h1>NewCoffee</h1>


@ViewBag.Origin
<br />
@ViewBag.Roaster
<br />
@ViewBag.Dose
<br />
@ViewBag.Grind
<br />
<form asp-action="SetDial">
    tasting notes input here.
    <input type="submit" />
</form>


