@*@model Brew.Models.Recipe
<h1>NewCoffee</h1>


@Model.Origin
<br />
@Model.Roaster
<br />
@Model.Dose
<br />
@Model.Grind
<br />
<form asp-action="SetDial">
    tasting notes input here.
    <input type="submit" />
</form>*@
<h1>Helloworld</h1>

